.idea/
.vscode/
.DS_Store
tmp/
tmp/air/
*.log
*.db
*.db-shm
*.db-wal
coverage.out
*.coverprofile
storage/*
!storage/.gitkeep
uploads/*
!uploads/.gitkeep
config.json
bin/
dist/
node_modules/
.env
*.tmp
/server
/ty2shorten-url
